# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Expo
.expo/
web-build/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local
.env
.env.production
.env.development

# Build and debug logs
*.txt
*.log
